html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    
}

body {
    /*font-family: Montserrat, sans-serif*/
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.jshop-header {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 25px 0 25px 0;
    position: fixed;
}

header.jshop-header >div{
    width: 80%;
    margin: auto;
}

header.jshop-header a,span{
    text-decoration: none;
    text-transform: uppercase;
    color: #80C2D9;
}

header.jshop-header a:hover,span:hover{
    color: lightgrey;
    cursor: pointer;
}

header.jshop-header a.title{
    float: left;
    height: 60px;
    line-height: 55px;
    font-size: 30px;
    text-decoration: none;
}

nav.jshop-nav{
    display: block;
    box-sizing: border-box;
    float: right;
}

nav.jshop-nav > div{
    display: inline-block;
}

nav.jshop-nav a,span{
    font-size: 15px;
    font-weight: 700;
}

nav.jshop-nav > a,span{
    margin-right: 30px;
    height: 60px;
    line-height: 60px;
}

#jshop-header-logo {
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
}

section.first{
    padding-top: 160px;
    height: 780px;
    background-color: #80C2D9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
    padding: 10px 10px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}